!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "RoutineBuilders"
      %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
      %meta{:content => content_for?(:description) ? yield(:description) : "RoutineBuilder", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .nav-collapse.collapse
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            = render 'layouts/navigation'
    #main{:role => "main"}
      .row-fluid
        = render 'layouts/messages'
        = yield
      -#.span2
        =render 'layouts/search_tags'
      %footer
    %script{:src => "//assets.pinterest.com/js/pinit.js", :type => "text/javascript"}
      / ! end of .container
    / ! end of #main
